
<title>Document</title>

<!------- loading画面 ------>
<!-- 	<div id="loader-bg">
		<div id="loading">
			<img src="loader.gif">
		</div>
	</div>
 -->

<!-- slidemenu-->
<nav id="slide_menu">
    <ul>
        <li><a href="product.html">Product</a></li>
        	<div class="product_menu">
        		<li><a href="">WebDesign</a></li>
        		<li><a href="">Architecture</a></li>
        		<li><a href="">ArtProduct</a></li>
        	</div>
        <li><a href="">About</a></li>
        <li><a href="">Works</a></li>
    </ul>
</nav>
<!-- slidemenu -->
 
<!--menuを出すボタン-->
<div id="button"></div>
<!-- menuを出すボタン -->

<!-- canvas 疑似要素お絵かき -->

    
<!-- canvas　疑似要素お絵かき -->
